.discord-message {
	color: #dcddde;
	display: flex;
	font-size: 0.9em;
	padding: 0px 0.5em;

	position: relative;
	word-wrap: break-word;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: 16px;
	min-height: 1.375rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-right: 48px !important;
	margin-top: 1.0625rem;
}

.discord-message.discord-message-highlight {
	background-color: rgba(250, 166, 26, 0.05);
}

.discord-message.discord-message-highlight:hover {
	background-color: rgba(250, 166, 26, 0.08);
}

.discord-message.discord-message-highlight::before {
	background-color: #faa61a;
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
	width: 2px;
}

.discord-light-theme .discord-message {
	color: #2e3338;
	border-color: #eceeef;
}

.discord-message:last-of-type {
	border-bottom-width: 0;
}

.discord-message a {
	color: #0096cf;
	font-weight: normal;
	text-decoration: none;
}

.discord-message a:hover {
	text-decoration: underline;
}

.discord-light-theme .discord-message a {
	color: #00b0f4;
}

.discord-message a:hover {
	text-decoration: underline;
}

.discord-message .discord-author-avatar {
	margin-right: 16px;
	margin-top: 1px;
	min-width: 40px;
}

.discord-message .discord-author-avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.discord-message .discord-message-timestamp {
	color: #72767d;
	font-size: 12px;
	margin-left: 3px;
}

.discord-light-theme .discord-message .discord-message-timestamp {
	color: #747f8d;
}

.discord-message .discord-message-edited {
	color: #72767d;
	font-size: 10px;
}

.discord-light-theme .discord-message .discord-message-edited {
	color: #99aab5;
}

.discord-message .discord-message-content {
	width: 100%;
	line-height: 160%;
	font-weight: normal;
	padding: 0;
}

.discord-message .discord-message-body {
	position: relative;
}

.discord-light-theme .discord-message .discord-message-timestamp,
.discord-compact-mode .discord-message:hover .discord-message-timestamp,
.discord-compact-mode.discord-light-theme .discord-message:hover .discord-message-timestamp {
	color: #99aab5;
}

.discord-compact-mode.discord-light-theme .discord-message .discord-message-timestamp {
	color: #d1d9de;
}

.discord-compact-mode .discord-message {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.discord-compact-mode .discord-author-avatar {
	display: none;
}

.discord-message:hover {
	background-color: rgba(4, 4, 5, 0.07);
}

@import '../author-info/author-info.css';
