{
	"extends": ["@open-wc", "plugin:lit/recommended", "@sapphire", "plugin:import/typescript"],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"plugins": ["import"],
	"rules": {
		"@typescript-eslint/member-ordering": "off",
		"@typescript-eslint/unbound-method": "warn",
		"no-extra-label": "warn",
		"no-iterator": "warn",
		"no-label-var": "warn",
		"no-labels": [
			"warn",
			{
				"allowLoop": true,
				"allowSwitch": true
			}
		],
		"no-lone-blocks": "warn",
		"no-loop-func": "warn",
		"no-mixed-operators": [
			"warn",
			{
				"groups": [
					["&", "|", "^", "~", "<<", ">>", ">>>"],
					["==", "!=", "===", "!==", ">", ">=", "<", "<="],
					["&&", "||"],
					["in", "instanceof"]
				],
				"allowSamePrecedence": false
			}
		],
		"no-multi-str": "warn",
		"rest-spread-spacing": ["warn", "never"],
		"no-restricted-properties": [
			"error",
			{
				"object": "require",
				"property": "ensure",
				"message": "Please use import() instead. More info: https://facebook.github.io/create-react-app/docs/code-splitting"
			},
			{
				"object": "System",
				"property": "import",
				"message": "Please use import() instead. More info: https://facebook.github.io/create-react-app/docs/code-splitting"
			}
		],
		"getter-return": "warn",
		"import/first": "error",
		"import/no-amd": "error",
		"import/no-webpack-loader-syntax": "error",
		"import/no-extraneous-dependencies": "off",
		"import/no-unresolved": "off",
		"wc/guard-super-call": "off"
	},
	"overrides": [
		{
			"files": ["packages/core/test/**/*.ts"],
			"rules": {
				"@typescript-eslint/no-floating-promises": "off"
			}
		}
	]
}
