{
	"extends": ["@favware/eslint-config-react-app"],
	"overrides": [
		{
			"files": ["packages/core/**"],
			"rules": {
				"react/react-in-jsx-scope": 0,
				"@typescript-eslint/no-unused-vars": 0
			}
		},
		{
			"files": ["packages/react/**"],
			"rules": {
				"@typescript-eslint/no-empty-function": 0,
				"@typescript-eslint/no-useless-constructor": 0,
				"@typescript-eslint/no-explicit-any": 0,
				"@typescript-eslint/ban-types": 0,
				"@typescript-eslint/no-unused-vars": 0,
				"@typescript-eslint/naming-convention": 0,
				"prefer-template": 0
			}
		}
	]
}
