# dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json

# IDE config
.idea/

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# Misc
*.log
*.tmp
*.tmp.*
.DS_Store
Thumbs.db
.env

# build
dist/
coverage/

custom-elements.json
