@import url('https://fonts.bunny.net/css?family=roboto:400,500,700');

/* New Whitney fonts to match rebrading */
@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Book.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Medium.woff') format('woff');
	font-weight: 500;
}
@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Semibold.woff') format('woff');
	font-weight: 600;
}
@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Bold.woff') format('woff');
	font-weight: 700;
}

.discord-messages {
	color: #fff;
	background-color: #36393e;
	display: block;
	font-size: 16px;
	font-family: Whitney, 'Source Sans Pro', ui-sans-serif, system-ui, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	line-height: 170%;
	border: 1px solid rgba(255, 255, 255, 0.05);
}

.discord-messages.discord-light-theme {
	color: #747f8d;
	background-color: #fff;
	border-color: #dedede;
}

.discord-messages.discord-no-background {
	background-color: unset;
}
