.discord-attachment {
	color: #dcddde;
	display: flex;
	font-size: 13px;
	line-height: 150%;
	margin-bottom: 8px;
	margin-top: 8px;
}

.discord-attachment-root {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 0.25rem;
	text-indent: 0;
	min-height: 0;
	min-width: 0;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.discord-attachment-root > * {
	justify-self: start;
	-ms-flex-item-align: start;
	align-self: start;
}

.discord-attachment-root .discord-image-wrapper {
	display: block;
	position: relative;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	overflow: hidden;
	border-radius: 3px;
}

.discord-attachment .discord-image-wrapper img {
	position: absolute;
	text-indent: -9999px;
}
