.discord-message .discord-mention {
	color: #e3e7f8;
	background-color: hsla(235, 85.6%, 64.7%, 0.3);
	font-weight: 500;
	padding: 0 2px;
	border-radius: 3px;
	unicode-bidi: -moz-plaintext;
	unicode-bidi: plaintext;
	-webkit-transition: background-color 50ms ease-out, color 50ms ease-out;
	transition: background-color 50ms ease-out, color 50ms ease-out;
	cursor: pointer;
}

.discord-message .discord-mention:hover {
	color: #fff;
	background-color: hsl(235, 85.6%, 64.7%);
}

.discord-message .discord-mention.discord-channel-mention {
	padding-left: 1.2rem !important;
	position: relative;
}

.discord-message .discord-mention.discord-voice-mention,
.discord-message .discord-mention.discord-locked-mention,
.discord-message .discord-mention.discord-thread-mention {
	padding-left: 1.25rem !important;
	position: relative;
}

.discord-light-theme .discord-message .discord-mention {
	color: #687dc6;
	background-color: hsla(235, 85.6%, 64.7%, 0.15);
}

.discord-light-theme .discord-message .discord-mention:hover {
	color: #ffffff;
	background-color: hsl(235, 85.6%, 64.7%);
}

.discord-message .discord-mention .discord-mention-icon {
	width: 1rem;
	height: 1rem;
	object-fit: contain;
	position: absolute;
	left: 0.125rem;
	top: 0.125rem;
}

.discord-message.discord-highlight-mention {
	background-color: rgba(250, 166, 26, 0.1);
	border-radius: 0 3px 3px 0;
	padding-right: 5px;
	position: relative;
}

.discord-light-theme .discord-message.discord-highlight-mention {
	background-color: rgba(250, 166, 26, 0.1);
}

.discord-message.discord-highlight-mention:hover {
	background-color: rgba(250, 166, 26, 0.08);
}

.discord-light-theme .discord-message.discord-highlight-mention:hover {
	background-color: rgba(250, 166, 26, 0.2);
}

.discord-message.discord-highlight-mention::before {
	background-color: rgb(250, 166, 26);
	content: ' ';
	position: relative;
	display: block;
	top: 0;
	left: -0.75rem;
	bottom: 0;
	pointer-events: none;
	width: 2px;
}
