.discord-message .discord-mention {
	color: #7289da;
	background-color: rgba(114, 137, 218, 0.1);
	font-weight: 500;
	padding: 0 2px;
	border-radius: 3px;
}

.discord-message .discord-mention:hover {
	color: #fff;
	background-color: rgba(114, 137, 218, 0.7);
}

.discord-message .discord-message-body.discord-highlight-mention {
	background-color: rgba(250, 166, 26, 0.1);
	border-radius: 0 3px 3px 0;
	margin-left: -3px;
	padding-left: 3px;
	padding-right: 5px;
}

.discord-message .discord-message-body.discord-message-body.discord-highlight-mention::before {
	content: " ";
	background-color: rgba(250, 166, 26, 0.2);
	position: absolute;
	top: 0;
	left: -6px;
	bottom: 0;
	width: 2px;
	border-left: 4px solid #faa61a;
	border-radius: 3px 0 0 3px;
}

.discord-message .discord-message-body.discord-highlight-mention .discord-mention:not(.discord-channel-mention) {
	background-color: unset !important;
	padding: 0;
	border-radius: 0;
}

.discord-message .discord-message-body.discord-highlight-mention .discord-mention:not(.discord-channel-mention):hover {
	color: #7289da;
	text-decoration: underline;
}
